.App {
  text-align: center;
}

nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   background: rgb(122, 135, 139);
   color: #FFF;
}

.nav-links{
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}